@model List<Noticia>

<h1>Noticias que han aperecido en la portada de Marca</h1>
<ul class="list-group">


@foreach(Noticia noticia in Model){
    <li class="list-group-item">
        <h3>@noticia.Titular</h3>
        <a href="@noticia.Link">@noticia.Link</a>
    </li>
}
</ul>

